* {margin:0}
body {
    background: url("images/bubbles.jpg") repeat scroll 0 0 transparent;
    color: white;
    font-family: helvetica,arial,sans-serif;
    margin: 0;
    padding: 10px;
    text-align: left;
}
#container {
    margin: 0 auto;
    width: 999px;
}
#csswitch {
	float:right;
	text-shadow: 5px 5px 10px crimson;
	color: #FFCC33;
	cursor: pointer;
}
#title {
    font-size: 6.4em;
    font-weight: bold;
    letter-spacing: -12px;
    line-height: 80px;
    margin-bottom: 10px;
}
#title a { color:crimson; }
a {
    color: wheat;
    text-decoration: none;
    text-shadow: 2px 2px 1px #0C0C0C;
}
a:hover { color:crimson; }
div.trans {
	border:1px solid black;
  filter:alpha(opacity=60);
  opacity:0.6;
  background-color:black;
}
li { list-style-type:circle; }
h2 {
    border-bottom: 1px solid #FFCC33;
    color: white;
    font-weight: bold;
    margin-bottom: 1ex;
    margin-top: 1em;
    font-size: 1.5em;
}
h2.topic {
    padding-right: 24px;
    position: relative;
    text-align: right;
}
.cats {
	font-size:0.9em;
	color:wheat;
	position:relative;
	top:-10px;
}
p {
	text-shadow: 0 0 10px black;
	font-family: serif;
	line-height: 1.5em;
	margin-bottom: 1em;
	font-size: 1.1em;
}

.dsq-popup a, .gist a {
	text-shadow:none;
}
.gist .gist-file .gist-data {
	font-size: 75% !important;
	height: 400px;
}

.dosboxdbg {
	background-color: #2e3436;
	color: #d2d7cf;
}
.dosboxdbg .hilight {
	background-color: #06989a;
	color: #1e3f44;
}

