<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Samuli Tuomola" />
	<meta content="Things I like about tech; programming, electronics, webdev etc" name="description" />
	<meta content="hacking python dosbox" name="keywords" />
	<title>{{ page.title }}</title>
	<link rel="icon" href="/images/favicon.png" type="image/x-icon" />
	<link rel="stylesheet" href="/style.css" type="text/css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="/common.js"></script>
	<script type="text/javascript">
	//
	var disqus_shortname = 'samttu';
	(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
	}());
	//
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-24431485-1']);
	_gaq.push(['_trackPageview']);
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
</head>
<body>

<div id="container">
  <span id="csswitch">w00dY</span>
  
  <div id="title">
    <a href="/">sAMttU!</a>
  </div>
  
  {{ content }}
  
  <div id="footer">

	<img src="data:image/gif;base64,R0lGODlhbwAPAIABAP///wAAACH5BAEKAAEALAAAAABvAA8AAAKojI+py+0Po5y02ouz3rz7D4Zi
AxglAqQpOpreGcLsHMjxa645XOr+cQoCF70VD6ir1YK8ZNOmTC6ZTqVrmXMdrcJp9LoNM7VDbhkJ
LvdIV+s3bQ7DzfOjPGG701XIX3sNJ3TXRVdop9aXp6ZCSFY3NOhohPjodhh49tcGyYll2enX5RdI
WNq5l0VjyuUkeDYmuskA2/e6uOUJiMuX2eIm6xvsywgl/FEAADs="/>
	<br/>
  </div>
</div>

</body>
</html>

